/* variables.module.scss */
$font_regular : futuraheavy,kittithada_medium_65regular;
$font_light : futuralight,kittithada_medium_65regular;

/*$primary-color : #004497;*/
$primary-color: #3D62AA;
$txt_white : #fff;
$txt_gray : #808385;